.modal-general {
  margin: 15px;
}

.d-flex {
  display: flex;
  justify-content: flex-end;
}

.btnAceptar {
  text-align: center;
  justify-content: flex-end;
  margin-left: 10px;
}

.blockProduct {
  display: inline-grid;
  width: 100%;
}
